<a href="https://www.manning.com/books/hapi-js-in-action" class="hapi-promo">
	<p class="title">hapi.js in Action</p>
	<img src="https://images.manning.com/720/960/resize/book/9/a0ad7f3-56c5-477a-983b-1b53d76c2aeb/Harrison-Hapi-HI.png" alt="hapi.js in Action">
	<p class="discount">Get 39% off today by using code: <strong>39harrison</strong></p>
</a>
