<a href="https://www.manning.com/books/hapi-js-in-action" class="hapi-promo">
	<p class="title">Hapi.js in Action</p>
	<img src="/content/images/2015/Feb/hjsia_cover.jpg" alt="Hapi.js in Action">
	<p class="discount">Get 39% off today by using code: <strong>39harrison</strong></p>
</a>